@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
#HomeBlock, #AuthorsBlock, #ContactsBlock, #СontactsBlock, #GoalsBlock{
    width: 920px;
    position: absolute;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
a {
    text-decoration: none;
    color: rgb(46, 63, 75);
}
#MainImage{
    display: block;
    width: 50%;
    height: 50%;
    margin-top: -450px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}
:root {
    --clr: #ffffff
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}

.navigaion {
    top: 750px;
    width: 240px;
    height: 70px;
    background: rgb(222, 176, 255);
    display: inline;
    border-radius: 10px;
    position: fixed;
    z-index: 2;
}

.navigaion ul {
    display: flex;
    width: 210px;
}
.navigaion ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigaion ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigaion ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5 em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigaion ul li.active a .icon {
    transform: translateY(-32px);
}
.navigaion ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigaion ul li.active a .text {
    opacity: 1;
    transform: translateY(10px)
}
.indicator {
    position: absolute;
    width: 70px;
    height: 70px;
    background: rgb(255, 151, 151);
    top: -50%;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.navigaion ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navigaion ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}
.navigaion ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}
.navigaion ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}
.navigaion ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}

